<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thenewcircle.yamba" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.thenewcircle.yamba.YambaApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.thenewcircle.yamba.StatusActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.thenewcircle.yamba.SettingsActivity"
            android:label="Settings" >
        </activity>
        <activity
            android:name="com.thenewcircle.yamba.TimelineActivity"
            android:label="Timeline" >
        </activity>
        <activity
            android:name="com.thenewcircle.yamba.StatusWithFragmentActivity"
            android:label="@string/title_activity_status_with_fragment" >
        </activity>
    </application>

</manifest>
